/*	BLOCS:
 *
 */

#myShells {
	min-height:100vh;
	display:flex;
	flex-flow:row wrap;
	padding:131px 4rem;
	column-gap:5rem;
	row-gap:5rem;
	justify-content:flex-end;
	align-items:center;
	width:100%
}


#myPub .my-shell-content>ul h4 {
	display:flex;
	flex-flow:row nowrap;
	justify-content:center;
	align-items:center;
	font-size:.75em
}
#myPub .my-shell-content>ul a {
	text-decoration:none;
	color:var(--bs-gray-500)
}
.my-social-network i:hover {color: var(--my-color1)}
#myPub .my-shell-content>ul {
	display:flex;
	flex-flow:column;
	align-items:center;
	justify-content:center
}
#myPub .my-shell-content img {
	margin:auto;
	min-width:64px;
	max-width:256px;
	width:100%
}
.my-social-network {
	display:flex;
	flex-flow:row;
	justify-content:center;
	gap:1em
}


#myReadMe .my-shell-content>p:last-child {text-align:right}
#myReadMe img {
	background-color:white;
	position:absolute;
	bottom:0;
	right:0;
	width:256px
}


#myMessage .my-shell-content {font-size:3rem}


#myInfos {color:var(--my-color3) !important}


#myTV {background-color:transparent}
#myTV>.my-shell-content iframe{
	padding:1.75rem 3rem 4.5rem 3rem;
	min-width:600px;
	min-height:400px;
	background:center / contain no-repeat url('https://flourdau.github.io/picturama/design/img/SimpsonsHDTV.webp')
}


#myRadio {padding:1rem}


#output {
	font-weight:bold;
	letter-spacing:.35rem
}


/*	QUERY	*/
/*	< 700px		*/
@media screen and (max-width:700px) {
	#myShells {
		justify-content:center;
		padding:125px 1rem
	}
	

	#myReadMe img {display:none}


	#myTV>.my-shell-content iframe {
		padding:3rem 1.5rem 4rem 1.5rem;
		min-width:320px;
		min-height:280px;
		background:center / contain no-repeat url('https://flourdau.github.io/picturama/design/img/SimpsonsHDTV.webp')
	}
}