/*	CLOCK:
 *
 */

#myHour {
	border:none;
	border-bottom:solid 3px;
}
 #myClock {
	display:flex;
	flex-flow:column
}
#myClock .my-shell-content {font-size:2rem}
#myChrono .my-shell-content,
#myClock .my-shell-content #myHour {font-size:8rem}
#myClock .my-shell-content #myDate {font-size:4rem}


/*	< 700px	*/
@media screen and (max-width:700px) {
	#myClock .my-shell-content {font-size:1.5rem}
	#myClock .my-shell-content #myHour {font-size:3rem}
	#myClock .my-shell-content #myDate {font-size:1.5rem}
}