/*	DOM:
 *
 */


body {
	display:flex;
	flex-flow:column
}


/* NAV */
header>nav {
	overflow:hidden;
	position:fixed;
	top:0;
	width:100vw;
	z-index:100;
	display:flex;
	flex-flow:row wrap;
	justify-content:center;
	align-items:center
}
/* BLOC1 TITLE */
header>nav>a {
	display:flex;
	flex-flow:column nowrap;
	align-items:center;
	text-decoration:none;
	white-space:nowrap
}
header>nav>a>div {
	display:flex;
	align-items:center
}
header>nav>a>h1 {text-align:start}
header>nav>a>h2 {
	font-size:1.05em;
	font-style:italic;
	color:var(--my-color2);
	margin:0 0 0 4.5em;
	padding:0 0 1em 0
}
header>nav>a>div i {
	animation:heartBeat infinite;
	animation-duration:2s;
	font-size:2.5rem;
	padding-right:.2em;
	text-align:center;
	font-weight:bold;
	color:var(--my-color1)
}
header>nav>a pre {
	padding:1em 0;
	background-color:rgba(0, 0, 0, .05)
}
header>nav>a code {
	font-size:.9em;
	line-height:.9em;
	font-family:monospace;
	font-weight:bold;
	overflow:hidden
}
/* BLOC2 MENU */
header>nav>div {
	padding:0 1em 0 0;
	width:50vw;
	display:flex;
	flex-flow:column;
	align-items:flex-end
}
header>nav>div form {width:50%}

header>nav>div>div,
header>nav>div form,
header>nav>div ul {display:flex}

/* MYNOTIF */
header>nav>div>ul {
	font-style:italic;
	white-space:break-spaces;
	word-spacing:.1rem;
	padding:0 0 0 1em;
}

header>nav>div>div>ul {
	align-items:flex-end;
	padding:0 0 1em 0
}
header>nav>div>div ul:nth-child(2) {padding:0 0 0 2em}
header>nav>div>div ul:nth-child(2) i {font-size:1.25em}
header>nav>div>div ul:nth-child(2) i:hover,
 header>nav>div>div li:hover {color:var(--my-color1)}


/* header {min-height:100vh}


/*	MYCONTROLS
 *
 */
.accordion-items{
	padding:1em;
	width:100% !important
}
#flush-collapseOne, #flush-collapseThree {text-align:left}
#staticBackdrop {
	overflow:visible;
	padding:1rem
}
#staticBackdrop i {
	cursor:pointer;
	font-size:1.6em
}
.my-nav-control>div {
	display:flex;
	flex-flow:column nowrap
}
#staticBackdrop2 iframe {
	align-self:flex-end;
	justify-self:center;
	padding:0 1rem
}
.btn-checks {
	max-width:320px;
	padding:1em;
	display:flex;
	gap:.5em;
	flex-flow:row wrap;
	justify-content:space-evenly
}
.btn-group {align-items:center}


/*	SEPARATOR:
 *
 */
.separation {
	margin:6rem 0;
	color:white;
	width:100%;
	border:none;
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:center
}
.separation p {
	font-size:1.5rem;
	text-align:center
}
.separation hr {
	border:none;
	width:36%;
	border-bottom:solid 3px;
	margin:0 2%
}


/*	FOOTER:
 *
 */
footer {
	margin:1rem 0 100px 0;
	display:flex;
	flex-flow:row nowrap;
	justify-content:center;
	align-items:center;
	font-size:1.28rem
}
footer address, footer ul, footer li {text-align:center}
footer ul {
	display:flex;
	align-items:center
}
footer li {
	display:inline;
	padding:1.28rem
}
footer a {text-decoration:none}
footer a:hover {color:var(--my-color1)}
footer i {color:var(--my-color1)}
footer svg:hover {color:var(--my-color3)}


/*	QUERY	*/
/*	< 700px		*/
@media screen and (max-width:700px) {
	/* MYNOTIF */
	header>nav>div>ul {
		font-size:.9em;
		padding:0 0 2em 1em
	}

	header>nav>div {
		padding:1em;
		width:100vw
	}


	header>nav>div>div,
	.separation,
	main {flex-flow:column}


	.separation hr {
		width:98%;
		margin:0 2%
	}


	footer {
		display:flex;
		flex-flow:column
	}
	footer ul, footer li {display:block}
	footer li {padding:.2rem}
}