/*	DOM:
 *
 */


body {
	display:flex;
	flex-flow:column
}


nav {
	position: fixed;
	top:0;
	width:100%;
	z-index:100;
	padding:0 1rem
}
nav>div ul {padding:1em}
nav pre {
	padding:1em 0;
	background-color:rgba(0, 0, 0, .05)
}
nav code {
	font-size:.9em;
	line-height:.9em;
	font-family:monospace;
	font-weight:bold;
	overflow:hidden
}
nav>a i {
	font-size:2rem;
	height:48px;
	width:48px;
	color:var(--my-color1)
}
nav>div i {
	font-size:1.5rem;
	height:32px;
	width:32px
}


/* header {min-height:100vh} */


/*	MYCONTROLS
 *
 */
#staticBackdrop {
	overflow:visible;
	padding:1rem
}
#staticBackdrop i {
	cursor:pointer;
	font-size:1.75rem
}
.my-nav-control>div {
	display:flex;
	flex-flow:column nowrap
}
.my-nav-links {margin:1rem}
.btn-checks {
	display:flex;
	gap:1.5rem;
	flex-flow:row wrap;
	justify-content:space-evenly
}
#staticBackdrop2 iframe {
	align-self:flex-end;
	justify-self:center;
	padding:0 1rem
}


/*	SEPARATOR:
 *
 */
.separation {
	margin:6rem 0;
	color:white;
	width:100%;
	border:none;
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:center
}
.separation p {
	font-size:1.5rem;
	text-align:center
}
.separation hr {
	border:none;
	width:36%;
	border-bottom:solid 3px;
	margin:0 2%
}


main {
	display:flex;
	flex-flow:row wrap;
	padding:0 1rem
}
.column-left {flex:2}
.column-right {
	padding:1rem 0 0 0;
	flex:1;
	display:flex;
	flex-flow:column nowrap;
	align-items:center;
	justify-content:center
}
.column-right>div {
	display:flex;
	flex-flow:column nowrap;
	align-items:center
}


/*	FOOTER:
 *
 */
footer {
	margin:1rem 0 100px 0;
	display:flex;
	flex-flow:row nowrap;
	justify-content:center;
	align-items:center;
	font-size:1.28rem
}
footer address, footer ul, footer li {text-align:center}
footer ul {
	display:flex;
	align-items:center
}
footer li {
	display:inline;
	padding:1.28rem
}
footer a {text-decoration:none}
footer a:hover {color:var(--my-color1)}
footer i {color:var(--my-color1)}
footer svg:hover {color:var(--my-color3)}


/*	QUERY	*/
/*	< 700px		*/
@media screen and (max-width:700px) {
	nav>div ul {padding:0}
	nav>a i {
		font-size:1rem;
		height:32px;
		width:32px
	}
	nav>div i {
		font-size:2rem;
		height:48px;
		width:48px
	}
	
	
	main {flex-flow:column}


	.separation {flex-direction:column}
	.separation hr {
		width:98%;
		margin:0 2%
	}


	footer {
		display:flex;
		flex-flow:column
	}
	footer ul, footer li {display:block}
	footer li {padding:.2rem}
}