/*	DOM	*/
body {
	display:flex;
	flex-flow:column nowrap;
	background-color:var(--my-color2)
}


nav {
	z-index:100;
	display:flex;
	justify-content:end
}


svg {
	height:64px;
	width:64px;
	color:var(--bs-body-color);
	padding:.5rem;
	font-size:4em
}