/*	PICTURAMA:
 *
 */


#myPicturama {
	display:flex;
	flex-flow:column nowrap
}


.myBarControl {
	animation:fadeInUp;
	animation-duration:2s
}
.myBarControl>ul {
	display:flex;
	flex-flow:row nowrap;
	align-items:flex-end;
	justify-content:space-between
}
.myBarControl>ul>li:first-child {justify-self:flex-start}
.myBarControl>ul:first-child>li>ul {
	display:flex;
	flex-flow:row
}
.myBarControl i {
	vertical-align: middle;
	padding:.25em .15em;
	font-size:1.5rem
}
.myBarControl>ul>li:nth-child(1) i {
	justify-self:flex-end;
	align-self:flex-end
}
.myBarControl>ul>li:nth-child(2) i {
	padding:.25rem;
	font-size:2rem
}
.myBarControl>ul>li:nth-child(3) i {align-self:flex-end}


.myMiniatures {
	padding:0 5%;
	height:45vh !important
}
.myMiniatures>div:last-child {
	display:flex;
	flex-flow:row nowrap;
	justify-content:center;
	align-items:flex-start
}
.myMiniatures>div:last-child>i {
	position:absolute;
	font-size:8rem;
	color:var(--bs-gray-500);
	right:0;
	bottom:0;
	max-width:128px
}
.myMiniatures>div:last-child>i:hover {color:var(--bs-gray-700)}
.myMiniatures>div:last-child>i:first-child {
	right:none;
	left:0
}


.items {
	display:flex;
	gap:var(--gap);
	overflow-x:auto;
	scroll-snap-type:x proximity;
	padding:calc(var(--gap) * .5);
	margin:calc(var(--gap) * -.5);
	scroll-padding-inline:calc(var(--gap) * .5)
}


.item {
	min-width:calc((100% - (var(--items) - 1) * var(--gap)) / var(--items));
	scroll-snap-align:start
}
.item img {max-height:25vh}


/*	> 1000px	*/
@media (min-width:1000px) and (pointer:fine) {
	.items {overflow:hidden}
}


/*	< 1000px	*/
@media (max-width:1000px) {
	.myMiniatures>div>i {display:none}


	.items {
		padding:1rem;
		margin:-1rem;
		scroll-padding-inline:0
	}


	.item {scroll-snap-align:center}
}



/*	< 400px	*/
@media screen and (max-width:400px) {
	.myBarControl ul>li:nth-child(2) i {
		width:64px;
		height:64px
	}
}