/*	CAROUSEL:	*/
#myPicturama {
	position:absolute;
	bottom:0;
	overflow:hidden;
	height:100%;
	width:100%;
	display:flex;
	flex-flow:column nowrap
}


.myBarControl {
	animation:fadeInUp;
	animation-duration:2s;
	width:100%;
	display:flex;
	flex-flow:row wrap;
	align-items:end;
	justify-content:space-between
}
.myBarControl>li:nth-child(2) svg {
	width:96px;
	height:96px
}
.myBarControl>li:nth-child(3) {justify-items:end}


#menuBarControl {padding:0 0 0 1rem}
#menuBarControl li {min-width:250px}
 

.myMiniatures {
	background-color: var(--bs-body-color);
	padding:2% 10%;
	text-align:end
}
.myMiniatures>div{
	display:flex;
	justify-content:center;
	flex-flow:row wrap
}
.myMiniatures>div>svg{
	z-index:1;
	color:var(--bs-gray-500);
	position:absolute;
	min-width:256px;
	height:256px;
	right:-64px
}
.myMiniatures>div>svg:hover {color:var(--bs-gray-700)}
.myMiniatures>div>svg:first-child{
	right:none;
	left:-64px
}


.items {
    display:flex;
    gap:var(--gap);
    overflow-x:auto;
    scroll-snap-type:x proximity;
    padding:calc(var(--gap) * .5);
    margin:calc(var(--gap) * -.5);
    scroll-padding-inline:calc(var(--gap) * .5)
}


.item {
	max-height:300px;
	min-width:calc((100% - (var(--items) - 1) * var(--gap)) / var(--items));
	scroll-snap-align:start
}
.item img {
    width:100%;
	height:100%
}



@media (min-width:1000px) and (pointer:fine) {
    .items {overflow:hidden}
}

@media (max-width:1000px) {
	.myMiniatures>div>svg {display:none}
    .items {
        padding:1rem;
        margin:-1rem;
        scroll-padding-inline:0
    }
    .item {scroll-snap-align:center}
}