/*	SHELL:
 *
 */


.my-size-max {
	width:100% !important;
	height:90vh
}
.my-left {
	position:absolute;
	left:5rem
}


.my-shell {
	display:flex;
	flex-flow:column
}


.my-shell i {
	vertical-align:middle;
	font-size:1.5rem
}


.my-shell-content {
	overflow-y:auto;
	text-align:center;
	padding:1.5rem;
	height:100%;
	display:flex;
	flex-flow:column;
	align-items:center;
	justify-content:center
}
#myInfos .my-shell-content {text-align:left} /* Correction for #myInfos bloc */

.my-shell-bar {
	display:flex;
	flex-flow:row;
	justify-content:flex-end;
	align-items:center
}
.my-shell-bar>li>:nth-child(2) li{
	display:flex;
	flex-flow:row nowrap
}
.my-shell-bar>li {padding:.5rem}
.my-shell-bar>li:nth-child(2) {
	width:100%;
	justify-self:flex-start
}
.my-shell-name {cursor:all-scroll}


/*	< 700px	*/
@media screen and (max-width:700px) {
	.my-left {
		position:initial;
		left:none
	}

	.my-shell {
		position:initial;
		left:none
	}
}