/*	SHELL:
 *
 */


.my-size-max {
	width:100% !important;
	height:90vh
}


.my-shell {
	/* color:var(--my-color3); */
	display:flex;
	flex-flow:column
}


.my-shell-content {
	overflow-y:auto;
	padding:1.5rem;
	height:100%;
	display:flex;
	flex-flow:column
}


.my-shell-bar {
	background-color:var(--bs-gray-800);
	display:flex;
	flex-flow:row;
	justify-content:flex-end
}
.my-shell-bar>li {padding:.5rem}
.my-shell-bar>li:nth-child(2), .my-shell-bar>li:first-child {
	width:100%;
	justify-self:flex-start
}
.my-shell-bar svg {
	cursor:pointer;
	height:32px;
	width:32px;
	color:var(--my-color1);
	padding:.5rem
}